
{% extends "blogs/base.html" %}
{% load bootstrap3 %}
{% block style %}
{% endblock style %}
{% block header %}
<div class="row">
	<div class="col-md-8">
		<div class="text-center">
			<h2>推荐文章</h2>
		<br>
		</div>

		{% for pushblog in push_blogs %}
			{% if forloop.counter  == 0 %}
				<div>
					标签
					{% for tag in pushblog.blog.tags.all %}
						<a href="{% url 'blogs:tag_blogs' tag.id %}">{{ tag }}</a>
					{% endfor %}
					&nbsp;
					{{ pushblog.blog.created_date|date:'Y/m/d' }}
					<h3 class="media-heading">
						<a style="color:#303030" href="{% url 'blogs:blog' pushblog.blog.id %}">
						{{ blog.title }}</a>
					</h3>
					<p></p>
					<div>
						<img class="img-responsive" src="/media/{{ pushblog.image }}">
					</div>
					<p></p>
					{{ pushblog.blog.preview }}
					<a href="{% url 'blogs:blog' pushblog.blog.id %}">阅读全文</a>
				</div>

			{% else %}

				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" src="/media/{{ pushblog.image }}">
					</div>
					<div class="col-md-8">
					标签
					{% for tag in pushblog.blog.tags.all %}
						<a href="{% url 'blogs:tag_blogs' tag.id %}">{{ tag }}</a>
					{% endfor %}
					&nbsp;
					{{ pushblog.blog.created_date|date:'Y/m/d' }}
					<h3 class="media-heading">
						<a style="color:#303030" href="{% url 'blogs:blog' pushblog.blog.id %}">
					{{ pushblog.blog.title }}</a>
					</h3>
					<p>
						{{ pushblog.blog.preview }}
					</p>
					
					<a href="{% url 'blogs:blog' pushblog.blog.id %}">阅读全文</a>
					</div>
				</div>
				<!--short-->
			{% endif %}
		<hr>
		{% endfor %}
		<div class="text-center">
			<a class="btn btn-primary btn-lg" href="{% url 'blogs:blogs' %}">查看更多</a>
		</div>
	</div>

	<div class="col-md-3 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<div class="">
			<div class="tags-header">
				<h3 class="media-heading">标签</h3>
			</div>
			
			<div class="tags-body">
				{% for tag in tags %}
				<a class="btn btn-tag" href="{% url 'blogs:tag_blogs' tag.id %}">{{ tag }}</a>
				{% endfor %}
			</div>	
		</div>

		<div class="">
		<div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading text-center">最新文章</div>
		  <!-- List group -->
	  <ul class="list-group">
	  	{% for blog in blogs %}
	    <li class="list-group-item"><a href="{% url 'blogs:blog' blog.id %}">{{ blog.title }}</a></li>
	    {% endfor %}
	    <li class="list-group-item"><a href="{% url 'blogs:blogs'%}">查看更多>>></a></li>
	  </ul>
	</div>
	</div>


		<div class="">
			
		<div class="shao">
			{% load static %}
			<img src="{% static 'shao.jpg' %}">
			<a href="https://segmentfault.com/u/shao_59bf5e765996a">Shao</a>		
			<p></p>
		</div>
		</div>
		

	</div>
</div>

{% endblock header %}
